html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #0b0b0b;
    overflow: auto; /* Allow scrolling */
    color: #ffffff;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.marketplace {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Styles */
.marketplace-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 50px;
    background-color: #2b2b2b;
}

.marketplace-header .logo {
    height: 50px;
}

.marketplace-header h1 {
    font-weight: 700;
    font-size: 1.3rem;
    margin-left: 20px;
    flex: 1;
}

.search-bar {
    margin-right: 10%;
}

.search-bar input {
    margin: 0 30px;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.connect-wallet-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
}

.connect-wallet-btn:hover {
    background-color: #139532;
}

.header-options {
    display: flex;
}

.dropdown {
    position: relative;
    margin-left: 20px;
}

.dropdown-label {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #1e1e1e;
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 5px;
    background-color: #1e1e1e;
    padding: 20px;
    padding-left: 20px;
    border-radius: 2px;
    z-index: 1000;
    padding: 20px;
    width: 20vw;
}

.dropdown:hover .dropdown-content {
    display: block;
    padding: 10px;
}

.control-group {
    margin-bottom: 20px;
}

.control-group label {
    display: block;
    font-size: 0.9rem;
    font-weight: 100;
    margin-bottom: 5px;
}

.control-group input,
.control-group select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #2b2b2b;
    color: #fff;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

button:hover {
    background-color: #139532;
}

/* Main Content Styles */
.main-content {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

/* Marketplace Items Styles */
.nft-metrics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: #333;
    color: white;
}

.nft-metrics span {
    padding: 0 20px 0 17px;
    text-align: center;
    font-size: 0.9rem;
}

.marketplace-items {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    align-self: center;
}

.marketplace-items ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.marketplace-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #2b2b2b;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #2b2b2b;
    width: 99%;
}

.marketplace-item .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 5%;
    padding: 0 15px;
    position: relative;
}

.marketplace-item #section-nft-image-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.marketplace-item #section-nft-image-name > * {
    margin: 0 10px 0 10px;
}

.marketplace-item #section-nft-image-name > img {
    height: 60px;
    width: 60px;
}

.marketplace-item .details #section-number-star {
    display: flex;
    align-items: space-between;
    justify-content: center;
    padding: 0 20px 0 20px;
}

.marketplace-item .actions {
    display: flex;
    align-items: center;
}

.marketplace-item button {
    margin: 0 10px;
    padding: 5px 10px;
}

.marketplace-item button.purchase-btn {
    background-color: #28a745;
}

.marketplace-item button.delist-btn {
    background-color: #ff4d4d;
}

.marketplace-item button.purchase-btn:hover {
    background-color: #218838;
}

.marketplace-item button.delist-btn:hover {
    background-color: #e60000;
}

.star-icon {
    margin-right: 10px;
    cursor: pointer;
    color: rgb(164, 164, 164);
}

.star-icon:hover {
    color: rgb(164, 164, 164);
}

.tooltip {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.hover-info span:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Dropdown Menu Styles */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 100;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu .dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    color: white;
}

.dropdown-menu .dropdown-item:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 100%;
    top: 0;
    white-space: nowrap;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
    z-index: 20;
}

/* Wallet Popup Styles */
.wallet-popup {
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wallet-popup-content {
    background-color: #212121;
    padding: 10px 20px 20px 20px;
    width: 80%;
    max-width: 300px;
    border-radius: 8px;
}

.wallet-popup-content .close-button {
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 0;
}

.wallet-popup-content .close-button > span {
    cursor: pointer;
    align-self: right;
    padding: 0;
    margin: 0 10px;
}

.wallet-popup-content .close-button > span:hover {
    cursor: pointer;
}

.wallet-popup-content h2 {
    text-align: center;
    align-self: center;
    margin-top: 0;
    font-size: 1rem;
}

.wallet-popup-content button {
    width: 100%;
    margin-top: 10px;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;
}

.overlay.show {
    display: block;
}

/* Popup Message Styles */
.popup-message {
    background-color: #2b2b2b;
    color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 300px;
    margin: auto;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

.popup-message h2 {
    font-size: 1.2rem;
    margin: 0 0 10px;
}

.popup-message p {
    margin: 0 0 10px;
}

.popup-message button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.popup-message button:hover {
    background-color: #218838;
}

/* Created Marketplaces Section */
.marketplaces {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    width: 90%;
    align-self: center;
}

.marketplaces h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.marketplace-details {
    border: 1px solid #2b2b2b;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #2b2b2b;
}

.marketplace-details p {
    margin: 5px 0;
}

.marketplace-details button {
    margin: 10px 5px 0 0;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.marketplace-details .delete-btn {
    background-color: #ff4d4d;
    color: #fff;
}

.marketplace-details .delete-btn:hover {
    background-color: #e60000;
}
